.minion-message {
    font-weight: 700;

    background: rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-border-light-2);
    border-radius: 3px;
    box-shadow: 0 0 2px #FFF inset;
    word-break: break-all;
}

.minion-message li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 3px;
}

.minion-message ul {
    list-style-type: none;
    padding: 0 0 0 0.2em;
}

.dismiss-minion-item, sustain-minion-item {
    display: flex;
}

.minion-message-item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em 0;
}

#pf2e-summons-helper-creatures {
    .main {
        height: 350px;
    }


    .main > div {
        height: 350px;
    }

    .data {
        overflow-y: auto;
        padding-left: 5px;

        .c-row {
            display: flex;
            align-items: center;
            padding: 3px;
        }

        .c-row.selected {
            background-color: #416482;
            color: #fff;
            box-shadow: inset 0 0 0 200px #006bc44d;
        }

        .img,.lvl {
            flex: 1;
            text-align: center;
        }

        .name {
            flex: 2;
            text-align: center;
        }

        img {
            height: 32px;
        }
    }
}

.tc {
    text-align: center;
}
.cc {
    align-content: center;
}